<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row-fluid">
    <div>
        <nav class="navbar navbar-flex fixed-top bg-dark text-light">
            <h5>
                <b>
                    <span data-th-text="${users.email}"></span>
                </b>
                <span> with roles: </span>
                <span data-th-text="${users.roles}"></span>
            </h5>
            <form th:action="@{/logout}" method="post">
                <a href="/logout">
                    <h6 class="text-secondary text-right">Logout</h6>
                </a>
            </form>
        </nav>
    </div>
</div>
<div class="row no-gutters vh-100">
    <div class="col-2 pt-3 m-0 p-0">
        <br>
        <br>
        <div class="list-group border-0">
            <a data-toggle="tab" id="userPageLeftNavButton" href="#userPage"
               class="active list-group-item list-group-item-action border-0">User</a>
        </div>
    </div>
    <div class="col-9 m-3 p-3">
        <br>
        <h1 class="font-weight-bold">User information page</h1>
        <div class="tab-content">
            <br>
            <div class="container" id="userPage">
                <div class="tab-content" style="padding-left: 0;">
                    <div class="container active" style="padding-left: 0;">
                        <div>
                            <br>
                            <h4>About user</h4>
                            <table id="currentUserTable" class="table table-striped">
                                <thead class="bg-light">
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="currentUserTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/user.js"></script>
</body>
</html>